
html,body{
  background-image: url('bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
  
  }
  
  
 .container{
  height: 100%;
  align-content: center;
  }
  
  
  .textmood{  
  color: white;
  text-shadow: 0 0 5px #c4c4c4, 0 0 10px #fff, 0 0 15px #fff;
  font-family: Arimo;
  font-size: 20px;
  }
  
  .card{
  height: 100%px;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  background-color: rgba(0,0,0,0.5) !important;
  padding: 2%;
  padding-left: -5%;
  }
  
  
  .w3-button {width:50px;}
  .header h3{
  color: white;
  text-shadow: 0 0 5px #c4c4c4, 0 0 10px #fff, 0 0 15px #fff;
  font-family: Arimo;
  font-size: 20px;
  }
  
  .input-group-prepend span{
  border-radius: 20px;
  margin: 6px 0 12px 0;
  padding: 8px;
  background-color: #FFC312;
  color: black;
  border:0 !important;
  }
  
  
  .input-group-prepend2 span{
    border-radius: 20px 0px 0px 20px;
    margin: 0 0 0 0;
    padding: 8px;
    height:40px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }
	

  
  .login_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
  }
  
  .login_btn:hover{
  color: black;
  background-color: white;
  }
  
  a:link{
	color: black;
}
  
  .links{
  color: white;
  }
  
  .links a{
  margin-left: 4px;
  }
   
  
  .left { float: left; }
  .right {float: right; }
  .center { margin-left: 50%; }
   
 
      form input[type="text"],
      form input[type="email"],
      form input[type="number"],
      form input[type="search"],
      form input[type="password"],select,
      form textarea {
          background-color: rgb(255,255,255); 
          border: 1px solid rgb( 186, 186, 186 ); 
          border-radius: 2px;
          -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
          -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
          font-size: 5px;  
          margin: 6px 0 12px 0;
          text-shadow: 0 1px 1px rgba(255, 255, 255, 1); 
          -webkit-transition: all 0.1s linear;
          -moz-transition: all 0.1s linear;
          -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
      }
   
      form [type="text"]:focus,
      form [type="email"]:focus,
      form [type="number"]:focus,
      form [type="search"]:focus,
      form [type="password"]:focus,
      form input[type="button"]:focus,select:focus,
      form textarea:focus,
      form select:focus {
          border-color: #4195fc;
          -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
          -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #4195fc;
          color: rgb(0,0,0);
      }
   
          form input[type="text"]:invalid:focus,
          form input[type="email"]:invalid:focus,
          form input[type="number"]:invalid:focus,
          form input[type="search"]:invalid:focus,
          form input[type="password"]:invalid:focus,
          form input[type="button"]:invalid:focus,select:invalid:focus,
          form textarea:invalid:focus,
          form select:invalid:focus {
              border-color: rgb(248,66,66);
              -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
              -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px rgb(248,66,66);
          }
  
          .myButton {
            -moz-box-shadow: 3px 4px 0px 0px #6c7a00;
            -webkit-box-shadow: 3px 4px 0px 0px #6c7a00;
            box-shadow: 3px 4px 0px 0px #6c7a00;
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFC312), color-stop(1, #ffd500));
            background:-moz-linear-gradient(top, #FFC312 5%, #ffd500 100%);
            background:-webkit-linear-gradient(top, #FFC312 5%, #ffd500 100%);
            background:-o-linear-gradient(top, #FFC312 5%, #ffd500 100%);
            background:-ms-linear-gradient(top, #FFC312 5%, #ffd500 100%);
            background:linear-gradient(to bottom, #FFC312 5%, #ffd500 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC312', endColorstr='#FFC312',GradientType=0);
            background-color: #FFC312;
            -moz-border-radius:15px;
            -webkit-border-radius:15px;
            border-radius:15px;
            border:1px solid #FFC312;
            display:inline-block;
            cursor:pointer;
            color:#064869;
            font-family:Arial;
            font-size:17px;
            padding:7px 25px;
            text-decoration:none;
            text-shadow:0px 1px 0px #08cf08;
          }
          .myButton:hover {
            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffd500), color-stop(1, #FFC312));
            background:-moz-linear-gradient(top, #ffd500 5%, #FFC312 100%);
            background:-webkit-linear-gradient(top, #ffd500 5%, #FFC312 100%);
            background:-o-linear-gradient(top, #ffd500 5%, #FFC312 100%);
            background:-ms-linear-gradient(top, #ffd500 5%, #FFC312 100%);
            background:linear-gradient(to bottom, #ffd500 5%, #FFC312 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC312', endColorstr='#FFC312',GradientType=0);
            background-color:#ffd500;
          }
          .myButton:active {
            position:relative;
            top:1px;
          }
		  
		  .footer {
			   position: fixed;
               left: 0;
               bottom: 0;
               width: 100%;
               color: black;
               text-align: center;
          }
          
			
  #box {
  position: fixed;
  height: 200px;
  width: 400px;
  text-align: left;
  color: white;
  text-shadow: 0 0 5px #387dc2, 0 0 10px #fff, 0 0 15px #fff;
  letter-spacing:0px;
  font-family: Arimo;
  font-size: 58px;
}

#static {
  color: #387dc2;
  text-shadow: 0 0 15px #387dc2, 0 0 25px #387dc2, 0 0 35px #387dc2, 0 0 40px #387dc2;
  font-size: 58px;
}

#flashing {
  text-shadow: none;
  color: #387dc2;
  font-weight: bold;
  font-size: 58px;
  opacity: 0.5;
  position: relative;
  top: 2px;
  animation: flash 1.5s ease-in-out infinite alternate;
}

@keyframes flash {
  0% {
    opacity: 0.5;
    color: #387dc2;
    text-shadow: none;
  }
  10% {
    opacity: 1;
    color: #387dc2;
    text-shadow: 0 0 10px #387dc2, 0 0 15px #387dc2, 0 0 20px #387dc2, 0 0 25px #387dc2;
  }
  55% {
    opacity: 0.5;
    color: #38b3cf;
    text-shadow: none;
  }
  85% {
    opacity: 1;
    color: #387dc2;
    text-shadow: 0 0 10px #387dc2, 0 0 15px #387dc2, 0 0 20px #387dc2, 0 0 25px #387dc2;
  }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}